body {
  background-color: white;
  font-family: "Georgia", serif;
}

h1 {
  font-size: 5vw;
  font-style: italic;
}

button {
  background-color: black;
  font-family: "Georgia", serif;
  font-style: italic;
  border-color: transparent;
  font-size: 5vw;
  padding: 7vw 5vw;
  margin: 3vw;
  color: white;
}

.wrapper {
  margin-top: 8vh;
  margin-bottom: 6vh;
}

.Titel {
  justify-self: center;
  margin-bottom: 5vh;
}

.choice_wrapper {
  justify-self: center;
}

.top-image,
.bottom-image {
  width: 100%;
}

.top-image {
  margin-top: 0;
}
