.qr-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: white;
  font-family: "Georgia", serif;
  margin-bottom: 1.5vh;
}

.qr-page h1 {
  font-size: 3rem;
}

button {
  padding: 2rem;
  min-width: 300px;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  font-family: "Georgia", serif;
}

.bottom-image,
.top-image {
  width: 100%;
  height: auto;
}

#start-voting-btn {
  font-size: 1.5rem;
  padding: 1.5rem;
}
