.qr-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 80vh;
  background-color: white;
  font-family: "Georgia", serif;
}

.qr-page h1 {
  font-size: 3rem;
}

button {
  padding: 1.5rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  font-family: "Georgia", serif;
}

.bottom-image,
.top-image {
  width: 100%;
  height: auto;
}
