.vote-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 77vh;
  background-color: white;
  font-family: "Georgia", serif;
  margin-top: 8vh;
}

.tally {
  text-align: center;
}

.voted-message {
  text-align: center;
}
